@* Titulo de la vista *@
@{
    ViewData["Title"] = "Lista Empleados/as";
    int TableAmount = 1;
}

@* Inicio desarrollo de la vista *@
<body>
    <div class="row d-flex justify-content-center">
        @* Tabla de Botones de navegación *@
        <div class="col-md-3 col-sm-10 my-3">
            <div class="card p-2 d-flex justify-content-center d-grid gap-2">
                <a class="btn btn-success fw-bold" type="button"  asp-area="" asp-controller="Employees" asp-action="Create" asp-route-id="">Crear empleado/a</a>
                <a class="btn btn-primary fw-bold" type="button"  asp-area="" asp-controller="Employees" asp-action="Index" asp-route-id="">Listado de empleados/a</a>
            </div>
        </div>
        @* Tabla de Lista *@
        <div class="col-md-8">
            <div class=" card p-3">
            <div class="my-3">
                <h1 class="fw-bold text-center">Empleados/a Registrados</h1>
                <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus nunc, accumsan.</p>
        @* Barra de busqueda *@
                <form class="d-flex" role="search" asp-action="Search" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" name="InputSearch" aria-label="Search">
                    <button class="btn btn-success" type="submit" type="submit">Buscar</button>
                </form>
            </div>
                <div class="table-responsive rounded">
                    <table class="table table-striped table-hover text-center table-bordered">
                        <thead class="table-dark  text-center align-items-center">
                            <tr class="align-middle">
                                <th scope="col">#</th>
                                <th scope="col">Imagen Perfil</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Titulo Academico</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                        @foreach (var employee in Model)
                        {
                        <tr>
                            <td scope="col fw-bold">@TableAmount</td>
                            <td scope="col" class="text-center">
                                <div class="Img-Logo mx-auto d-flex justify-content-center align-items-center">
                                    <img src="@employee.ProfilePicture" class="img-fluid" alt="">
                                </div>
                            </td>
                            <td scope="col">@employee.Names</td>
                            <td scope="col">@employee.LastNames</td>
                            <td scope="col">@employee.AcademicTitle</td>
                            <td scope="col" class="text-center align-middle">
                                <div>
                                <div class="mx-auto d-flex justify-content-center align-items-center"> 
                                    <a class="OptionCrud d-flex justify-content-center align-items-center" asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#FFCA2C" d="M9 17.5h6q.213 0 .356-.144q.144-.144.144-.357t-.144-.356Q15.213 16.5 15 16.5H9q-.213 0-.356.144q-.144.144-.144.357t.144.356q.143.143.356.143m0-4h6q.213 0 .356-.144q.144-.144.144-.357t-.144-.356Q15.213 12.5 15 12.5H9q-.213 0-.356.144q-.144.144-.144.357t.144.356q.143.143.356.143M6.615 21q-.69 0-1.152-.462Q5 20.075 5 19.385V4.615q0-.69.463-1.152Q5.925 3 6.615 3h7.214q.331 0 .632.13q.3.132.518.349L18.52 7.02q.217.217.348.518q.131.3.131.632v11.214q0 .69-.462 1.152q-.463.463-1.153.463zM14 7.2q0 .34.23.57q.23.23.57.23H18l-4-4z"/></svg>
                                    </a>
                                    <a class="OptionCrud d-flex justify-content-center align-items-center" asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#0D6EFD" d="M10 15q-.425 0-.712-.288T9 14v-2.425q0-.4.15-.763t.425-.637l8.6-8.6q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4q0 .375-.137.738t-.438.662l-8.6 8.6q-.275.275-.637.438t-.763.162zm9.6-9.2l1.425-1.4l-1.4-1.4L18.2 4.4zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6.5q.35 0 .575.175t.35.45q.125.275.087.55t-.287.525l-4.65 4.65q-.275.275-.425.638T7 10.75V15q0 .825.588 1.412T9 17h4.225q.4 0 .763-.15t.637-.425L19.3 11.75q.25-.25.525-.288t.55.088q.275.125.45.35t.175.575V19q0 .825-.587 1.413T19 21z"/></svg>
                                    </a>
                                    <a class="OptionCrud d-flex justify-content-center align-items-center" onclick="DeleteAlert(@employee.Id, 'Employees')">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#DC3545" d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5q0-.425.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.587 1.413T17 21zm3-4q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8q-.425 0-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8q-.425 0-.712.288T13 9v7q0 .425.288.713T14 17"/></svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        TableAmount ++;
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>  